@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#sidebar {
    width: 90px;
    overflow-x: hidden;
    background-color: #2A2C34;
    height: 100%;
    position: fixed;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

.offcanvas-header .btn-close {
    background-color: #FFD200;
    opacity: 1;
}
.lg-screen-nav {
    width: 250px;
}

.navbar {
    position: relative;
}

.user {
    position: absolute;
    right: 5%;
    display: flex
}

.notification-list {
    margin-right: 20px;
}



#offcanvasResponsive{
    display: none;
}
/* Basic styling */

.notification-list {
    position: relative;
    display: inline-block;

}

.Notification-head {
    color: #6B7083 !important;
    font-family: "Inter", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.32px;
    text-transform: uppercase;

}

.notification-list .notification {
    display: none;
    position: absolute;
    background-color: #171B27;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
    right: 20%;
    padding: 20px 20px 40px 20px !important;
    width: 400px;
}

.notification-list:hover .notification {
    display: block;
}

.notification ul li {
    list-style-type: none !important;
    padding: 20px 0;
}

.notify-view-all {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: #252832;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 0px !important;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #6B7083;
}

.notify-view-all a {
    color:#FF8000;
    font-family: "Inter", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.notify-content {
    margin-left: 15px;
}

.notify-content P {
    color: #FFF;
    font-family: "Inter", serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0px !important;
}


.notify-content p a {
    color: #FFF;
    font-family: "Inter", serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline !important;
}


.notify-content span {
    color: #6B7083 !important;
    font-family: "Inter", serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.notify-list-point {
    display: flex;
    margin-left: -25px;
}

.notify-list-point img {
    width: 50px;
    height: 50px;
}

.arrow {
    position: absolute;
    right: 1%;
    top: 0;
    border: solid #171B27;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

#wrapper {
    overflow-x: hidden;
    height: 100vh;
}


#sidebar-wrapper {
    width: 100%;
    background-color: #171B27 !important;

    height: 100vh;
    max-height: max-content;
}

#page-content-wrapper {
    min-width: 80vw;
    background-color: #0D111D;
}

.list-group-item {
    background-color: transparent !important;
}

#page-content-wrapper nav.navbar {
    background-color: #171B27 !important;
    position: relative;
}


.admin-content {
    background-color: #f4f4f4;
    min-height: 100vh;
    min-width: 80vw;
    padding: 25px 0;
}

.dashboard-logo img {
    width: 200px;
}

.tablet-nav {
    display: none;
}


.num-icons {
    width: 25%;
    margin-right: 20px;
}

.list-group-item {
    font-family: "Inter", serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    border: none !important;
    color: #FFF !important;
}

.list-group-item.active {
    background-color: #FFD200 !important;
    color: #000000 !important;
    font-family: "Inter", serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
    border-radius: 8px !important;
}

.list-group-item img {
    margin-right: 10px;
    width: 10%;
}

.list-group-item.active img{
    filter: brightness(100) invert(1);
}

.nav-heading {
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

}

.notification-bell {
    border: none;
    background-color: transparent;
}

/* ========================================== RESPONSIVE CSS START =============================================================== */


/* Large screen */

@media(max-width: 2560px) and (min-width:1445px) {


    .admin-content {
        width: 100%;
    }

}


/* Tablet css */
@media screen and (max-width:992px) {
    #sidebar {
        width: auto;
        overflow-x: none;
        margin: 0 20px;
        height: auto;
        position: absolute;
    }
    #offcanvasResponsive{
        display: block;
        background-color: #2A2C34;
        overflow-y: auto;
        height: 100%;
    }
    .lg-screen-nav {
        display: none;
    }

    .tablet-nav {
        background-color: #171B27;
        display: block;
        width: 100%;
    }

    .logo-mobile {
        width: 100%;
    }

    aside {
        width: 8%;
        z-index: 999;
    }

    .list-group-item img {
        width: 10%;
    }

    .navbar {
        position: relative;
    }

    .user {
        position: absolute;
        right: 10%;
    }

    #page-content-wrapper {
        min-width: 100vw;

    }

    #page-content-wrapper .navbar {
        padding: 16px 20px 16px 20px !important;
    }
}


@media screen and (max-width:430px) {
    .user {
        right: 20%;
    }

    aside {
        width: 100% !important;
    }

    .list-group-item.list-group-item-action {
        padding: 10px !important;
    }


}


/* ============================================================RESPOSNIVE CSS END ========================================== */