@media screen and (max-width:993px) {
    .owner-input, .sign-in-password, .vkl-btn.sign-in-btn {
        width: 90%;
    }

    .owner-name img {
        position: absolute;
        left: 9%;
        top: 16%;
        width: 3%;
    }
}

@media screen and (max-width:501px) {
    .owner-name img {
        
        left: 10%;
        top: 16%;
        width: 4%;
    }

    .toggle-password {
        
        right: 10%;
    }
}